<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.css">
    <title>NewProduct</title>
</head>

<body>
    <div class="header">
        <h1> ATN Shop</h1>
    </div>
    
    <div class="content">
        <h2> Add Product</h2>
        <div class="update">
            <form action="/doInsert" method="POST" class="updateForm">
                <input class="Line" type="text" name="txtNumber" placeholder="Number" /><br>
                <input type="text" name="txtName" placeholder="Name" /> <br>
                <input type="text" name="txtPrice" placeholder="Price" /><br>
                <input type="text" name="txtColor" placeholder="Color" /><br>
                <input type="text" name="txtMaterial" placeholder="Material" /><br>
                <input type="text" name="txtDescreption" placeholder="Descreption" /><br>
                <input type="submit" value="Insert" class="btn" >
            </form>
        </div>




    </div>


</body>

</html>