<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.css">
    <title>NewProduct</title>
</head>

<body>
    <div class="header">
        <h1> ATN Shop</h1>
    </div>
    
    <div class="content">
        <div class="title">
            <h2> Add Product</h2>
        </div>
        <div class="content">
            <form action="/doInsert" method="POST" class="updateForm">
                Number
                <input class="as" type="text" name="txtNumber" ><br>
                Name
                <input class="as" type="text" name="txtName" > <br>
                Price
                <input class="as" type="text" name="txtPrice" ><br>
                Color
                <input class="as" type="text" name="txtColor" ><br>
                Material
                <input class="as" type="text" name="txtMaterial" ><br>
                Descreption
                <input class="as" type="text" name="txtDescreption"><br>
                <br>
                <input type="submit" value="Insert" class="btn-option" >
            </form>
        </div>




    </div>


</body>

</html>
