*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

*:focus{
    outline: none;
}

body{
    background-color: #F0EFE2;
}
.header h1 {
    height: 55px;
    border-bottom: 1px solid #dddddd;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

.content{
    width: 760px;
    min-height: 450px;
    margin: 50px auto 45px;
    padding-bottom: 100px;
    border: 1px solid #e3e1dc;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    width: 391px;
    padding: 12px 1px;
    border: 5px ;
    border-radius: 2px;
    line-height: 14px;
    font-size: 12px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

content .updateForm {
    width: 395px;
    margin: 0 auto;
}

div {
    display: block;
}

.btn {
    text-align: center;
   
}
.btn {
    width: 100%;
    border-radius: 10px;
}