*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

*:focus{
    outline: none;
}

body{
    background-color: #F0EFE2;
}
.header h1 {
    height: 55px;
    border-bottom: 1px solid #dddddd;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

form.search-product{
    width: 500px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #202040;
    border: 5px solid white;
    border-radius: 5px;
}

h3{
    margin-bottom: 20px;
    color: white;
}

input[type="text"]{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
}

.btn-search{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    border: none;
    font-size: 15px;
    background-color: #ff6363;
    color: white;
}

.btn-search:hover{
    background-color: #ffbd69;
}

form.search-product {
    margin-bottom: 40px;
}


input.btn-option{
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #ff6363;
    color: white;
    font-size: 15px;
}

input.btn-option:hover{
    background-color: #ffbd69;
}


.footer h1 {
    height: 55px;
    border-bottom: 1px solid #dddddd;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
table.tbl-product{
    width: 90%;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
    border: 5px solid white;
}

tr{
    height: 50px;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #202040;
    color: white;
    text-align: center;
}

table tr:nth-child(odd) td{
    background-color: #e7edf0;
    border: none;
}

td{
    word-wrap: inherit;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
